
body{

    background-color: #e485ff;
	background-image: linear-gradient(270deg, #e485ff 0%, #030312 100%);;
}

@media (min-width:350px) and (max-width:440px) {
    button{

        font-size: 10px !important;
        width: 40px !important;
        height: 30px !important
    }
    sub{
        font-size: 5px !important;
    }
    #resultado{
        width: 80px !important;

    }
    input{
        text-align:right !important;
        font-size: 10px !important;
    }

}

@media (min-width:440px) and (max-width:1600px) {
    button{

        font-size: 30px !important;
        width: 70px !important;
        height: 60px !important
    }
    sub{
        font-size: 35px !important;
    }
    #resultado{
        width: 140px !important;

    }
    input{
        text-align:right !important;
        font-size: 25px !important;
    }
}

